Web References/edu.middlebury.devweb/WebDirectory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://web.middlebury.edu/database/directory" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://web.middlebury.edu/database/directory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://web.middlebury.edu/database/directory">
      <s:element name="getDepartments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDepartmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDepartmentsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simpleSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="simpleSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="simpleSearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uidSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uidSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uidSearchResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDepartmentsSoapIn">
    <wsdl:part name="parameters" element="tns:getDepartments" />
  </wsdl:message>
  <wsdl:message name="getDepartmentsSoapOut">
    <wsdl:part name="parameters" element="tns:getDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="simpleSearchSoapIn">
    <wsdl:part name="parameters" element="tns:simpleSearch" />
  </wsdl:message>
  <wsdl:message name="simpleSearchSoapOut">
    <wsdl:part name="parameters" element="tns:simpleSearchResponse" />
  </wsdl:message>
  <wsdl:message name="uidSearchSoapIn">
    <wsdl:part name="parameters" element="tns:uidSearch" />
  </wsdl:message>
  <wsdl:message name="uidSearchSoapOut">
    <wsdl:part name="parameters" element="tns:uidSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="WebDirectorySoap">
    <wsdl:operation name="getDepartments">
      <wsdl:input message="tns:getDepartmentsSoapIn" />
      <wsdl:output message="tns:getDepartmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="simpleSearch">
      <wsdl:input message="tns:simpleSearchSoapIn" />
      <wsdl:output message="tns:simpleSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uidSearch">
      <wsdl:input message="tns:uidSearchSoapIn" />
      <wsdl:output message="tns:uidSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebDirectorySoap" type="tns:WebDirectorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartments">
      <soap:operation soapAction="http://web.middlebury.edu/database/directory/getDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleSearch">
      <soap:operation soapAction="http://web.middlebury.edu/database/directory/simpleSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uidSearch">
      <soap:operation soapAction="http://web.middlebury.edu/database/directory/uidSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebDirectorySoap12" type="tns:WebDirectorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDepartments">
      <soap12:operation soapAction="http://web.middlebury.edu/database/directory/getDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simpleSearch">
      <soap12:operation soapAction="http://web.middlebury.edu/database/directory/simpleSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uidSearch">
      <soap12:operation soapAction="http://web.middlebury.edu/database/directory/uidSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebDirectory">
    <wsdl:port name="WebDirectorySoap" binding="tns:WebDirectorySoap">
      <soap:address location="http://directory.middlebury.edu/WebDirectory.asmx" />
    </wsdl:port>
    <wsdl:port name="WebDirectorySoap12" binding="tns:WebDirectorySoap12">
      <soap12:address location="http://directory.middlebury.edu/WebDirectory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>